 #answer {
   display: none;
 }

 body {
   background-color: #e6ecf7;
 }

h1 {
  color: blue;
  text-align: center;
}

.header{
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

 #answer {

 }
